<div id="<%= dom_id fitness_class_member %>">
  <p>
    <strong>Fitness class:</strong>
    <%= fitness_class_member.fitness_class_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= fitness_class_member.member_id %>
  </p>

</div>
