<div id="<%= dom_id fitness_class_equipment %>">
  <p>
    <strong>Fitness class:</strong>
    <%= fitness_class_equipment.fitness_class_id %>
  </p>

  <p>
    <strong>Equipment:</strong>
    <%= fitness_class_equipment.equipment_id %>
  </p>

</div>
