<h1>New fitness class equipment</h1>

<%= render "form", fitness_class_equipment: @fitness_class_equipment %>

<br>

<div>
  <%= link_to "Back to fitness class equipment", fitness_class_equipments_path %>
</div>
