<div id="<%= dom_id bill %>">
  <p>
    <strong>Member:</strong>
    <%= bill.member_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= bill.date %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= bill.paid %>
  </p>

</div>
