<h1>Editing fitness class member</h1>

<%= render "form", fitness_class_member: @fitness_class_member %>

<br>

<div>
  <%= link_to "Show this fitness class member", @fitness_class_member %> |
  <%= link_to "Back to fitness class members", fitness_class_members_path %>
</div>
