<h1>Editing fitness class</h1>

<%= render "form", fitness_class: @fitness_class %>

<br>

<div>
  <%= link_to "Show this fitness class", @fitness_class %> |
  <%= link_to "Back to fitness classes", fitness_classes_path %>
</div>
