<div id="<%= dom_id completed_exercise_routine %>">
  <p>
    <strong>Member:</strong>
    <%= completed_exercise_routine.member_id %>
  </p>

  <p>
    <strong>Exercise routine:</strong>
    <%= completed_exercise_routine.exercise_routine_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= completed_exercise_routine.date %>
  </p>

</div>
