<h1>New completed exercise routine</h1>

<%= render "form", completed_exercise_routine: @completed_exercise_routine %>

<br>

<div>
  <%= link_to "Back to completed exercise routines", completed_exercise_routines_path %>
</div>
