<div id="<%= dom_id fitness_class_exercise_routine %>">
  <p>
    <strong>Fitness class:</strong>
    <%= fitness_class_exercise_routine.fitness_class_id %>
  </p>

  <p>
    <strong>Exercise routine:</strong>
    <%= fitness_class_exercise_routine.exercise_routine_id %>
  </p>

</div>
