<h1>Editing fitness class exercise routine</h1>

<%= render "form", fitness_class_exercise_routine: @fitness_class_exercise_routine %>

<br>

<div>
  <%= link_to "Show this fitness class exercise routine", @fitness_class_exercise_routine %> |
  <%= link_to "Back to fitness class exercise routines", fitness_class_exercise_routines_path %>
</div>
